<h2 id="james-milne">James Milne</h2>
<p><a href="tel:+6159528387">0459 528 387</a></p>
<p><em>Or</em></p>
<p><a href="tel:+610353341990">03 5334 1990</a></p>
<p><script type="text/javascript">
<!--
h='&#x67;&#114;&#x61;&#112;&#104;&#x69;&#x63;&#x2d;&#100;&#x65;&#x73;&#x69;&#x67;&#110;&#x65;&#114;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#106;&#x6d;&#x69;&#108;&#110;&#x65;';e=n+a+h;
document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">'+'<code>'+e+'</code>'+'<\/'+'a'+'>');
// -->
</script><noscript>&#106;&#x6d;&#x69;&#108;&#110;&#x65;&#32;&#x61;&#116;&#32;&#x67;&#114;&#x61;&#112;&#104;&#x69;&#x63;&#x2d;&#100;&#x65;&#x73;&#x69;&#x67;&#110;&#x65;&#114;&#32;&#100;&#x6f;&#116;&#32;&#x63;&#x6f;&#x6d;</noscript></p>
<p>22 Ningana St, Alfredton, Ballarat, VIC, 3350.</p>
<h2 id="qualifications">Qualifications</h2>
<p>Diploma of Web Design (Alison)</p>
<p>Diploma of Multimedia Development (Alison)</p>
<p>Associate Degree in Information Technology (Federation University)</p>
<p>SFH (Safe Food Handlers)</p>
<p>ECM (Espresso Coffee Making)</p>
<p>RSG (Responsible Service of Gaming)</p>
<h2 id="experience">Experience</h2>
<p><strong>2014-2015 Full Stack Web Developer</strong></p>
<p>Joan Coker,</p>
<p>Haddon Community Learning Centre, <a href="tel:+610353427050">03 5342 7050</a></p>
<p><strong>2012-2014 Technical Consultant</strong></p>
<p>Sally Parker,</p>
<p>one2one Church of Christ, <a href="tel:+610353341882">03 5334 1882</a></p>
<p><strong>2009-2014 Microsoft Partner Research Panel</strong></p>
<p>1800 676 7658</p>
<p><strong>2011 Contract Labour</strong></p>
<p>Matt McLean,</p>
<p>Cornerstone Contractors, <a href="tel:+6147322987">0447 322 987</a></p>
<p><strong>2009 System Administrator</strong></p>
<p>Tiwi College, <a href="tel:+618089709024">080 8970 9024</a></p>
<p><strong>2008 Architecture and Interior Design - Work Experience</strong></p>
<p>McIldowie Partners,</p>
<p>Craig Brown, <a href="tel:+61396298100">03 9629 8100</a></p>
<p><strong>2008 Graphic Design - Work Experience</strong></p>
<p>FRP Printing,</p>
<p>Colin Newell, <a href="tel:+61353393737">03 5339 3737</a></p>
<p><strong>2007-2008 Network Forensics</strong></p>
<p>Ballarat Christian College,</p>
<p>Nathan Job, <a href="tel:+61353375900">03 5337 5900</a></p>
<p><strong>2007 Website Design</strong></p>
<p>Ballarat Christian College,</p>
<p>Chris Aiton, <a href="tel:+61353375900">03 5337 5900</a></p>
<p><strong>2007 Peer Mediation</strong></p>
<p>Ballarat Christian College,</p>
<p>Trent Loader, <a href="tel:+61353375900">03 5337 5900</a></p>
<h2 id="education">Education</h2>
<p><strong>Alison</strong></p>
<p>Diploma of Web Design (2014)</p>
<p>Diploma of Multimedia Development (2014)</p>
<p><a href="tel:+12024033223">+1 202 403 3223</a></p>
<p><strong>Federation University</strong></p>
<p>Associated Degree in Information Technology (2014)</p>
<p><a href="tel:+61353279000">03 5327 9000</a></p>
<p><strong>Cornell University</strong></p>
<p>INFO2040x Networks (2014)</p>
<p><a href="tel:+6072544636">607 254 4636</a></p>
<p><strong>Harvard University</strong></p>
<p>CS50x Introduction to Computer Science (2014)</p>
<p><a href="tel:+6174951551">617 495 1551</a></p>
